<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/authentication"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-logo-container">
    <img src="assets/img/logo.png" alt="Logo MMT" class="auth-logo"/>
  </div>

  <div class="auth-text">
    <strong>Recuperar Contraseña</strong>
    <p>Ingresa tu correo para recuperar tu contraseña</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="auth-form">
      <ion-item>
        <ion-icon name="globe-outline" slot="start"></ion-icon>
        <ion-input formControlName="email" placeholder="Email" type="email"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" class="login-button" type="submit" [disabled]="!form.valid">
        Recuperar Contraseña
      </ion-button>
    </div>
  </form>
</ion-content>