<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="event">
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2>{{ event.tituloEvento }}</h2>
        <p><strong>Sede:</strong> {{ event.sede }}</p>
        <p><strong>Fecha:</strong> {{ event.fechaActividad }}</p>
        <p><strong>Modalidad:</strong> {{ event.modalidad }}</p>
        <p><strong>Tipo de Actividad:</strong> {{ event.tipoActividad }}</p>
        <p><strong>Ubicación:</strong> {{ event.dependencia }}</p>
      </ion-label>
    </ion-item>
    
    <ion-item-options side="end">
      <!-- Botón para registrarse -->
      <ion-item-option color="primary" (click)="registrarse()">
        Registrarme
      </ion-item-option>
      
      <!-- Botón para editar el evento -->
      <ion-item-option color="secondary" (click)="editarEvento()">
        Editar Evento
      </ion-item-option>
      
      <!-- Botón para eliminar el evento -->
      <ion-item-option color="danger" (click)="eliminarEvento()">
        Eliminar Evento
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
